body {
    background : url('./baobab-senegal.webp');
    backdrop-filter: blur(40px);
    height: 100vh; /* Remplit toute la hauteur de l'écran */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: chocolate;
    text-align: center;
    padding: 32px;
    margin: 20px auto;
    width: 60%; /* Évite les marges en % et assure un bon centrage */
    border-radius: 8px; /* Adoucit les bords */
    
}

.appClass {
    color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div1 {
    display: flex;
    justify-content: center;
    width: 100%; /* Ajuste la largeur */
    margin: 30px 0;
}

input {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid chocolate;
    border-radius: 5px;
}

.linkButton {
    background-color: chocolate;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkorange; /* Effet au survol */
}

.cadre {
   background-color: white;
    padding: 30px;
    border-radius: 30px;
}
